#dependecies
/node_modules

# testing
/coverage

# production
/build
/dist

#misc
DS_Store
package-lock.json
pnpm-lock.yaml
bun.lock

.env
.env.test
test.http

public/images/*
!public/images/.gitkeep

prisma/migrations/*
/generated/prisma
